<h3>Times!</h3>

<div class="form-group row">

  <label class="col-sm-2 col-form-label">Filter By:</label>

  <div class="col-sm-10">
      <input [(ngModel)]="filtro" class="form-control">
  </div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Escudo</th>
      <th>Nome</th>
      <th>Cores</th>
      <th>Estado</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of filteredTimes">
      <td><img [src]="time.imagem" width="40" height="40"></td>
      <td>{{time.nome}}</td>
      <td>{{time.cores}}</td>
      <td>{{time.estado}}</td>
      <td>
        <a [routerLink]="['/times/info', time.id]"  class="btn btn-primary">Editar</a>
      </td>
    </tr>
  </tbody>
</table>

